{% extends "Jenkins.html" %}
{% block content %}
<div id="page-body" class="clear">
    <div id="side-panel" style="background-color:white">
{#    {{ jobs }}#}
        <div>
            <h2>所有项目</h2>
        </div>
        {% for job in jobs %}
{#            &nbsp;&nbsp;&nbsp;&nbsp;#}
            <div class="task">
                <a href="/index/job?jobName={{ job.name }}" class="task-link"><h2>{{ job.name }}</h2></a>
            </div>
        {% endfor %}
    </div>
    <div id="main-panel" style="background-color:white">
        <div>
            <h1>当前项目:{{ selectJob }}</h1>
        </div>
        <div>
            <h2>打包配置</h2>
            当前打包环境配置:{{ config.text }}

            <form method="post" name="setConfig" action="/config" style="text-size:smaller">{% csrf_token %}
                {{ configForm.as_p }}

                <button type="submit">提交配置修改</button>
            </form>
        </div>
        <div>
            <h2>功能</h2>
            {% if buildable %}
                <form method="post" name="setConfig" action="/build" style="text-size:smaller">{% csrf_token %}
                    <p>项目随时可以打包,点击打包按钮开始打包!</p>
                    <button type="submit">开始打包</button>
                </form>
            {% else %}
                <form method="post" name="setConfig" action="/index" style="text-size:smaller">{% csrf_token %}
                    <p>正在构建中,点击刷新按钮获取最新状态!</p>
                    <button type="submit">刷新状态</button>
                </form>
            {% endif %}
        </div>
        <div>
            <h2>需要同步的信息:</h2>
            {% for name,commit in commits.items %}
                <h3>{{ name }}:</h3>
                {% for k,v in commit.items %}
                    <i>
                    <div>
                        <b>{{ forloop.counter }}.  </b>{{ v }}<div><a href="/index/deleCommit?k={{ k }}"><button type="submit">删除</button></a></div>
                    </div>
                </i>
                {% endfor %}
            {% endfor %}

            {% if commitAble %}
                <div>
                    <form method="post" name="setConfig" action="/index/commit" style="text-size:smaller">{% csrf_token %}
                        <div>
                            <textarea name="commitTxt" cols="30" rows="3"></textarea>
                        </div>
                        <div>
                            <button type="submit">commit</button>
                        </div>
                    </form>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}